.registrationBox {
  position: absolute;
  top: 100%;
}

.loginBox2 {
  border-radius: 25px;
  background-color: #e5e5e5;
  margin-top: 8%;
  width: 30%;
  height: 40%;
  min-width: 490px;
  min-height: 490px;
}

.loginText {
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
}

.logoutText {
  text-align: center;
  font-size: 50px;
  margin-top: 25%;
}

.newUserLink {
  text-align: center;
}

.newUserLine {
  border-top: 1px solid;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.top2 {
  margin-top: 2%;
}

.toastRow {
  height: 5%;
}
.toastRowCheckout {
  height: 10%;
}

.alertToast {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.submitButton {
  text-align: center;
  margin-left: 35%;
  font-size: 15;
  width: 30%;
  background: #fb8500;
  border-radius: "25px";
  border-color: black;
  margin-top: 5%;
  color: black;
}
